dist
node_modules
npm-debug.log
# ide
.idea

# Mac General
.DS_Store
.AppleDouble
.LSOverride
/src/modules/login.1
/src/utils/*.js
/.vs
/src/modules/company/views/inputx.tsx
/.vscode

.umi
.umi-production